1. Local test server is: https://staffdirectory.local
2. Only edit scss files in public/assets/scss folder for styling the application
3. SCSS files are compiled using the Live Sass Compiler plugin
4. Avoids creating redundant CSS rules
5. .env file is placed in staff_dir_env folder
6. Think to add comments to your code
7. Always refer to documentation/devbook.md for project documentation
8. Prefer using public/includes/functions.php file to implement new Php functions
9. When creating new Php functions, always look for existing reusable functions in functions.php file
10. Always use composers libraries that match Php 7.4 version for this project
11. When I just ask a question without mentioning to specifically operate a modification on the codebase, don't operate any modification by yourself
12. In JavaScript, never add unnecessary semicolons at the end of the line except if it breaks the code.